.divHeaders{
    text-align: center;
    background-color: #6c788e
}

.divHeaderTitles{
    text-align: center;
    background-color: #a6aec1;
}

.divMains{
    text-align: center;
    background-color: #a6aec1;
    padding: 3px;
}

.divRedirects{
    background-color: #cdf5e1;
    margin: auto auto;
    height: fit-content;
    width: fit-content;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #fcfdff;
}



/*.color1 { #6c788e };
.color2 { #a6aec1 };
.color3 { #cfd5e1 };
.color4 { #ededf2 };
.color5 { #fcfdff };*/