.divHeaders{
    text-align: center;
    background-color: #6c788e;
    padding: 8px;
}

.divHeaderTitles{
    text-align: center;
    height: auto;
    background-color: #a6aec1;
    border: 1px solid #fcfdff;
}

.divMains{
    text-align: center;
    background-color: #a6aec1;
    padding: 5px;
}

.divRedirects{
    background-color: #cdf5e1;
    margin: auto auto;
    height: auto;
    width: max-content;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #6c788e;
}

.divForms{
    background-color: #ededf2;
    margin: 10px auto;
    text-align: center;
    height: auto;
    width: max-content;
    padding: 4px;
    padding-top: 10px;
    border: 2px solid #6c788e;
}

.divLists{
    background-color: #ededf2;
    margin: auto auto;
    text-align: center;
    height: auto;
    width: max-content;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #6c788e;
}

.divProducts{
    background-color: #a6aec1;
    height: auto;
    width: inherit;
    margin: auto auto;
    text-align:center;
    border: 2px solid #6c788e;
    padding: 10px;
    padding-bottom: 2px;
}



/*.color1 { #6c788e };
.color2 { #a6aec1 };
.color3 { #cfd5e1 };
.color4 { #ededf2 };
.color5 { #fcfdff };*/